body{
background-image:url(bg-top.jpg);
}
#a1{

margin-top:20px;
}
#logo{
float:left;
width:333px;
background-image:url(logo.png);
height:58px;
background-repeat: no-repeat;
margin-top:20px;
}

#social a{
display:inline-block;
text-align:center;
margin:1px;
padding:10px;
border-radius:100%;
background-color:#1A1A1A;
}
#fb{
padding:10px;
}
#social{
float:right;
}
#a1 a:hover{
background-color:#F3B12B;
}

#menu{
width:100%;
clear:both;
background-color:#F2AC28;
}
#menu ul{
padding:0px;
}
#menu ul li{
float:left;
border-right: 1px solid #DDD;
}

#menu ul li a{
text-transform: uppercase;
text-decoration:none;
color:#FFFFFF;
font-size:20px;
background-color:#F2AD29;
padding: 10px 52px;
display:inline-block;
margin-top:0px;
}
#menu ul li a:hover{
background-color:#EE981D;

}
#menu ul li:first-child a{
padding: 11px 14px;
}
#menu ul li:last-child{
border-right: 0;
}
#a2{
display: flex;
margin-top:18px;
height:58px;
background-color:#FFFFFF;
}
#a2 h3{
margin-left:30px;
}
#a3{
background-image:url(bg-carousel.jpg);
height:199px;
display:inline-block;
}


#a3 ul li{
list-style:none;
float:left;
margin-left:8px;
margin-top:39px;
}
#a3 ul li img{
border:6px solid #FFFFFF;
}
#a3 ul li a:hover img{
border:6px solid #F3B12B;
}
#a4{
margin-top:10px;
}
.title{
margin:4px;
float:left;
width:241px;
background-color:#FFFFFF;
height:350px;
}
.vern{
display:inline-block;
margin:0;
margin-top:10px;
}
.vern1{
color:#F3B12C;
margin:0px;
font-size:19px;
}
.bb{
margin-left:30px;
margin-top:15px;
}
.text {
color:#A1A1B1;
font-size:16px;
}
.link{
padding:10px 8px;
text-decoration:none;
color:#FFFFFF;
background-color:#0F2030;
display:inline-block;
margin-top:5px;
}
.link:hover{
background-color:#F2AC28;
}
span{
margin:20px;
}
span p{
text-align:center;
color:#A1A1B1;
font-size:16px;
}
@media screen and (max-width:1024px) {


}
@media screen and (max-width:1024px) {


}
@media screen and (max-width:1024px) {


}

